@import url('https://fonts.googleapis.com/css?family=Allan');

body {
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #c0c0c0;
}
header{
    background-image: url("../img/background.jpg");
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    width: 1349px;
    height: 700px;
}
nav {
	overflow: hidden;
	float: right;

    display: flex;
    align-items: stretch;
	flex-direction: row;
    justify-content: center;
}
.web_developer{
    margin: 0 auto;
}
#about_me  {
    margin: 57px 0 30px 177px;
    font-size:26px;
    font-family: 'sans-serif';
    display: flex;
}
.about_txt{
    margin: 30px 0 0 31px;
    width: 397px;
    font-size:24px;
    font-family: 'Allan', cursive;
    text-align: center;
}
#my_project{
    margin: 0 0 0 824px;
    font-size:26px;
    font-family: 'sans-serif';
    display: flex;
    background-image: url("../img/zenproject.jpg");
    width: 500px;
    height: 300px;
}
#you_can_find_me_article{
    margin: 49px 49px 49px 165px;
    font-size:26px;
    font-family: 'sans-serif';
    display: flex;
    
}
#you_can_find_me{
    background-image: url("../img/vk.jpg");
    width: 205px;
    height: 61px;
    margin: 41px;
}
.vk_txt{
    margin-left: 40px;
    font-size:24px;
    font-family: 'sans-serif';
}